<% var current2 = 0 %>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="table-rep-plugin">
                <div class="table-responsive" data-pattern="priority-columns" id="page1">
                    <table id="myData" class="table  table-striped">
                        <thead>
                        <tr>
                            <th data-priority="1">شماره ردیف</th>
                            <th data-priority="1">نام کتاب</th>
                            <th data-priority="3">نویسنده</th>
                            <th data-priority="5">انتشارات</th>
                            <th data-priority="5">مترجم</th>
                            <th data-priority="4">قیمت</th>
                        </tr>
                        </thead>
                        <tbody id="myRowData">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="btn-group m-b-10" id="pagination">
            </div>
        </div>
    </div>
</div>
<!-- End row -->


<script>
    function pagination(current_page, total_row, any_page_show) {
        var page = "";

        page += " <a  onclick='loadbook(0)' class=\"btn btn-default waves-effect\">صفحه اول</a> ";

        if (current_page > 12) {
            page += " <a   class=\"btn btn-default waves-effect\">..... </a> ";
        }

        for (var i = current_page - 10; i < current_page; i++) {
            if (i < 0) {
                i++;
            } else {
                page += " <a  onclick='loadbook(" + i + ")' class=\"btn btn-default waves-effect\"> " + i + " </a> "
            }

        }

        var current_page2 = 0;
        var current_page3 = 0;
        var current_page2 = parseInt(current_page) + 20;
        var current_page3 = parseInt(current_page) + 1;


        for (var i = current_page3; i <= current_page2; i++) {
            if (i > Math.floor(total_row / any_page_show)) {
                break;
            }

            page += " <a  onclick='loadbook(" + i + ")' class=\"btn btn-default waves-effect\"> " + i + " </a> ";

        }

        if (Math.floor(total_row / any_page_show) - current_page > 12) {
            page += " <a  onclick='#' class=\"btn btn-default waves-effect\">..... </a> ";
        }
        page += " <a  onclick='loadbook(" + (Math.floor(total_row / any_page_show) - 1) + ")' class=\"btn btn-default waves-effect\">صفحه آخر</a> "


        $("#pagination").html(page);
    }

    //              var current=0;
    function loadbook(current_page) {


        var table = document.getElementById("myRowData");
        while (table.rows.length > 0) {
            table.deleteRow(0);
        }
        $.getJSON('<%= mainAddress + "refreshbooks" %>', {current_page: current_page}, function (data) {
                pagination(data['current_page'], data['total_row'], data['any_page_show']);
                current = data['current_page'];
                current2 = data['current_page'];

                $.each(data['data'], function (index, value) {
                    var sender;
                    var created = "scsc";
                    var row = $(
                        "<tr><td>"
                        + (value.id ) +
                        "<td>"
                        + value.Name +
                        "</td><td>"
                        + value.Writer +
                        "</td><td>"
                        + value.Maker +
                        "</td><td>"
                        + value.Translator +
                        "</td><td>"
                        + value.Price +
                        "</td><td><a href='#' onclick='updatePrice(" + value.id + ")'>به روز رسانی قیمت</a></td><td><a href='#' onclick='deletebook(" + value.id + ")'>حذف</a></td></tr>"
                    );
                    $("#myRowData").append(row);
                });
            }
        );
    }

    $(document).ready(function () {

        loadbook('<%= current %>');
    });

    function updatePrice(bookid) {

        loadpage('<%= mainAddress + "updatePrice?id=" %>' + bookid + '&page=' + current2);
    }

    function deletebook(bookid) {
        loadpage('<%= mainAddress + "deletebook?id=" %>'+ bookid+ '&page='+ current2);
        loadpage('<%= mainAddress + "showbooks?current=" %>' + current2);
    }

</script>