<% var mainAddress="http://localhost:4000"; %>
<!-- jQuery  -->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="assets/js/bootstrap-rtl.min.js"></script>
<script src="assets/js/detect.js"></script>
<script src="assets/js/fastclick.js"></script>
<script src="assets/js/jquery.blockUI.js"></script>
<script src="assets/js/waves.js"></script>
<script src="assets/js/jquery.nicescroll.js"></script>
<script src="assets/js/jquery.slimscroll.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>



<script src="assets/sweetalert/sweetalert2.min.js"></script>
<link rel="stylesheet" href="assets/sweetalert/sweetalert2.min.css">
<script src="assets/sweetalert/sweetalert2.all.min.js"></script>
<!— Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support —>
<script src="assets/sweetalert/core.js"></script>







<script src="assets/js/jalali-time.js"></script>
<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="assets/plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="assets/plugins/jquery-knob/jquery.knob.js"></script>

<!--Morris Chart-->
<script src="assets/plugins/morris/morris.min.js"></script>
<script src="assets/plugins/raphael/raphael-min.js"></script>

<!-- Dashboard init -->
<script src="assets/pages/jquery.dashboard.js"></script>

<!-- App js -->
<script src="assets/js/jquery.core.js"></script>
<script src="assets/js/jquery.app.js"></script>

<script>

    function loadpage(addressPage){
        $(".loading").fadeOut("slow");
        $("#ShowPageDiv").html("");
        $.get(addressPage).done(function (err,data) {
            $("#ShowPageDiv").html(err);

        });
    }


    $( document ).ready(function() {
        loadpage('<%=mainAddress+"index"%>');
    });
</script>

<style>
    /* Paste this css to your style sheet file or under head tag */
    /* This only works with JavaScript,
    if it's not present, don't show loader */
    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; }
    .loading{
        position: fixed;
        left: 27%;
        top: 50%;
        width: 20%;
        height: 20%;
        z-index: 9999;
        background: url(assets/images/oie_17856538x6VQQtj.gif) center no-repeat transparent;
    }
</style>









</body>
</html>