



<div class="col-sm-12">
    <div class="card-box">
        <h4 class="header-title m-t-0 m-b-30">به روز رسانی قیمت</h4>
        <div class="row">
            <div class="col-lg-12">
            </div><!-- end col -->
            <div class="col-lg-12">
                <form class="form-horizontal" role="form" />
            </div>
            <div class="form-group">
                <label style="margin-top: 20px;" class="col-md-1 control-label">قیمت</label>
                <div class="col-md-5">
                    <input class="form-control" id="price" value='<%= data[0]['Price'] %>' type="text" style="margin-top: 20px;">
                </div>
            </div>
            <div class="form-group m-b-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="button" onclick="save()"
                                    class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="margin-top: 20px;width: 128px;">ذخیره
                            </button>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-12">

                    </div><!-- end col -->
                    <div class="col-lg-12">

                    </div><!-- end col -->
                </div><!-- end row -->
            </div>
            </form>


        </div><!-- end col -->
    </div><!-- end row -->
</div>
</div>











<script>

    function save() {
        swal("به روز رسانی با موفقیت انجام شد!", "", "success");
        var id = '<%= data[0]['id'] %>';
        var price = document.getElementById('price').value;
        var current='<%= current %>';
        $.post('<%= mainAddress +"setprice" %>', {id: id, price: price}).done(function (err, data) {

        });
        loadpage('<%= mainAddress + "showbooks?current=" %>' + current);
    }

</script>