﻿

<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="assets/images/profile.png" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">کتاب رسان</a> </h5>
            <ul class="list-inline">


                <li>
                    <a href='<%=mainAddress +"logout"%>' class="text-custom">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">دسته بندی ها</li>
                <li>
                    <a onclick="loadpage('<%=mainAddress +"index"%>');" class="waves-effect "><i class="zmdi zmdi-view-dashboard"></i> <span> داشبورد </span> </a>
                </li>
                  <li>
                    <a onclick="loadpage('<%=mainAddress +"showbooks"%>');" class="waves-effect "><i class="zmdi zmdi-view-dashboard"></i> <span>کتاب ها</span> </a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>


<!-- Left Sidebar End -->